<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login/Signup</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/login.css') }}">
        <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="title-text">
                <div class="title login">Login Form</div>
                <div class="title signup">Signup Form</div>
            </div>
            <div class="form-container">
                <div class="slide-controls">
                    <input type="radio" name="slide" id="login" checked>
                    <input type="radio" name="slide" id="signup">
                    <label for="login" class="slide login">Login</label>
                    <label for="signup" class="slide signup">Signup</label>
                    <div class="slider-tab"></div>
                </div>
                <div class="form-inner">
                    <form action="" method="post" class="login">
                        <div class="field" id="email-field">
                            <input type="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="field" id="username-field" style="display: none;">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="field">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="field">
                            <select name="user_type" id="user-type-login" required>
                                <option value="" disabled selected>Select User Type</option>
                                <option value="customer">Customer</option>
                                <option value="staff">Staff Member</option>
                            </select>
                        </div>
                        <div class="pass-link">
                            <a href="/">Forgot password?</a>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Login">
                        </div>
                        <div class="signup-link">
                            Return Home? <a href="/">Home</a>
                        </div>
                    </form>
                    <form action="/" method="post" class="signup">
                        <div class="field" id="username-field-signup" style="display: none;">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="field">
                            <input type="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="field">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="field">
                            <select name="user_type" id="user-type-signup" required>
                                <option value="" disabled selected>Select User Type</option>
                                <option value="Customer">Customer</option>
                                <option value="Staff">Staff Member</option>
                            </select>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Signup">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
