<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Customer Signup</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/signup.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <div class="title-text">
                <div class="title signup">Customer Signup</div>
            </div>
            <div class="form-container">
                <form action="/signup" method="post" class="signup">
                    <div class="columns">
                        <div class="column">
                            <input type="email" name="email" placeholder="Email Address" required>
                            <input type="password" name="password" placeholder="Password" required>
                            <input type="text" name="first_name" placeholder="First Name" required>
                            <input type="text" name="last_name" placeholder="Last Name" required>
                            <input type="date" name="dob" placeholder="Date of Birth" required>
                            <input type="tel" name="phone_number" placeholder="Phone Number" required>
                        </div>
                        <div class="column">
                            <input type="text"
                                   name="building_number"
                                   placeholder="Building Number"
                                   required>
                            <input type="text"
                                   name="street_address"
                                   placeholder="Street Address"
                                   required>
                            <input type="text" name="apt_number" placeholder="Apartment Number">
                            <input type="text" name="city" placeholder="City" required>
                            <input type="text" name="state" placeholder="State" required>
                            <input type="text" name="zip_code" placeholder="Zip Code" required>
                        </div>
                        <div class="column">
                            <input type="text" name="passport_number" placeholder="Passport Number">
                            <input type="date"
                                   name="passport_expiration"
                                   placeholder="Passport Expiration">
                            <input type="text" name="passport_country" placeholder="Passport Country">
                        </div>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Sign Up">
                    </div>
                    <div class="signup-link">
                        Return Home? <a href="/">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
