{% extends 'account.html' %}
{% block style %}
    <style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%; /* Ensures the full height of the viewport */
        overflow: hidden; /* Disables scrolling on the body */
    }
    .sidebar {
        width: 200px; /* Width of the sidebar */
        position: fixed; /* Fixed position */
        top: 65px; /* Starts right below the nav bar */
        bottom: 0; /* Stretches to the bottom */
        background-color: #cccccc; /* Light background color */
        box-shadow: 2px 0 10px rgba(0,0,0,0.05); /* Subtle shadow for depth */
        padding: 20px; /* Padding inside the sidebar */
        overflow-y: auto; /* Allows scrolling within the sidebar if content is tall */
    }
    .sidebar a {
        display: block; /* Full-width links */
        text-decoration: none; /* No underlines */
        color: #333; /* Dark color for text */
        padding: 20px 10px; /* Padding for links */
        font-size: 16px; /* Slightly larger font size */
        transition: background-color 0.2s, color 0.2s; /* Smooth transitions for interactions */
    }
    .sidebar a:hover {
        background-color: #eaeaea; /* Light grey background on hover */
        color: #000; /* Black text on hover for higher contrast */
    }

    .content {
        margin-left: 270px; /* Offset to accommodate sidebar width */
        padding-right: 40px; /* Generous padding for layout */
        overflow-y: auto; /* Allows vertical scrolling within content area if needed */
        height: calc(100vh - 60px); /* Full viewport height minus the height of the top navbar */
        position: relative;
    }
    .display-box {
        background-color: #ffffff; /* Background of content boxes */
        border: 1px solid #ccc; /* Light grey border */
        padding: 20px; /* Padding inside content boxes */
        margin-bottom: 20px; /* Space between content boxes */
        box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    }
    </style>
    {% block style2 %}{% endblock %}
{% endblock %}
{% block content %}
    <div class="sidebar">
        <a href="/staff/upcoming-flights">Upcoming Flights</a>
        <a href="/staff/create-flight" id="createFlight">Create New Flight</a>
        <a href="/staff/create-airplane" id="createAirplane">Add Airplane</a>
        <a href="/staff/create-airport" id="createAirport">Add Airport</a>
        <a href="/staff/change-flight-status" id="changeFlightStatus">Change Flight Status</a>
        <a href="/staff/view-ratings" id="viewRatings">View Ratings</a>
        <a href="/staff/schedule-maintenance" id="scheduleMaintenance">Schedule Maintenance</a>
        <a href="/staff/frequent-customer" id="frequentCustomer">View Frequent Customers</a>
        <a href="/staff/view-earnings" id="viewEarnings">View Earnings</a>
    </div>
    <div class="content">
        {% block display %}{% endblock %}
    </div>
{% endblock %}
