<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login/Signup</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/login.css') }}">
        <script src="{{ url_for('static', filename='js/stafflogin.js') }}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="title-text">
                <div class="title login">Personal Information</div>
                <div class="title signup">Address Information</div>
            </div>
            <div class="form-container">
                <div class="slide-controls">
                    <input type="radio" name="slide" id="login" checked>
                    <input type="radio" name="slide" id="signup">
                    <label for="login" class="slide login">Personal</label>
                    <label for="signup" class="slide signup">Address</label>
                    <div class="slider-tab"></div>
                </div>
                <div class="form-inner">
                    <form action="" method="post" class="login">
                        <div class="field" id="username-field">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="field">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Login">
                        </div>
                        <div class="signup-link">
                            Customer? <a href="/stafflogin">Here</a>
                        </div>
                        <div class="signup-link">
                            Return Home? <a href="/">Home</a>
                        </div>
                    </form>
                    <form action="/staffsignup" method="post" class="signup">
                        <div class="field" id="username-field">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="field">
                            <input type="text" name="first_name" placeholder="First Name" required>
                        </div>
                        <div class="field">
                            <input type="text" name="last_name" placeholder="Last Name" required>
                        </div>
                        <div class="field">
                            <input type="date" name="date_of_birth" placeholder="Date of Birth" required>
                        </div>
                        <div class="field">
                            <input type="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="field">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="field">
                            <input type="tel"
                                   name="phone_number"
                                   id="phone_number"
                                   placeholder="Phone Number"
                                   required>
                        </div>
                        <div class="field">
                            <select name="airline" id="airline" required>
                                <option value="">Select Airline</option>
                                {% for airline in airlines %}<option value="{{ airline['name'] }}">{{ airline['name'] }}</option>{% endfor %}
                            </select>
                        </div>
                        <div class="field" id="username-field-signup" style="display: none;">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Signup">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
